@charset "UTF-8";
/* ============================================================
＠＠
初期化

%update / 2013.12.22

/*-----------------------------------------------------------
font-size:相対表;

10px 77%
11px 85%
12px 93%
13px 100%
14px 108%
15px 116%
16px 123.1%
17px 131%
18px 138.5%
19px 146.5%
20px 153.9%
21px 161.6%
22px 167%
23px 174%
24px 182%
25px 189%
26px 197%
 ------------------------------------------------------------*/
/*------------------
【目次】
------------------

▼initialization
▼clearfix

============================================================ */
/* ------------------------------------------------------------
▼initialization
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	vertical-align: baseline;
	font-size: 100%;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	vertical-align: baseline;
	font-size: 100%;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 1.3rem;
	font-size: 13px;
	font-family: sans-serif;
	line-height: 1.5;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 100%;
}

em, strong {
    font-style: normal;
    font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

table th{
	text-align: left;
}

sup{
	font-size: 77%;
	vertical-align: top;
}

sub{
	font-size: 77%;
	vertical-align: bottom;
}

input{
	padding: 0;
	margin: 0;
}

textarea {
	border: none;
	padding: 0;
	margin: 0;
}

/* ------------------------------------------------------------
clearfix
------------------------------------------------------------ */
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
